<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        tools:replace="android:allowBackup"
        android:allowBackup="false"
        tools:node="merge"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.midtrans.sdk.coreapi.MerchantServerKey"
            android:value="SB-Mid-server-pnv1-Ll5Zo1jxje7Sh4U--Yf" />

        <meta-data
            android:name="com.midtrans.sdk.coreapi.MerchantClientKey"
            android:value="SB-Mid-client-oIRLks6imRW0lZIJ" />
        <meta-data
            android:name="com.midtrans.sdk.coreapi.MerchantServerUrl"
            android:value="https://traintiketpedia.000webhostapp.com/request.php/charge" />

        <activity
            android:name=".SignUp"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Checkout"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Home"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Login"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Start" />
    </application>

</manifest>